$morado-light: #451e36;
$morado-dark: #38052a;
$amarillo: #fbd43b;
$rojo-bullet: #f64552;
$gris-bullet: #f8f8f8;
$gris-rk: #212121;
$gris-letra-soft: #8f8f8f;
$turquesa-terminos-condiciones: #00c3a3;
$morado-Entradad-numeros: #49233b;

$margin-trece: 13%;
$cero: 0;
$uno-porciento: 1%;
$cinco-porciento: 5%;
$siete-porciento: 7%;
$diez-pociento: 10%;
$quince-pociento: 15%;
$veinte-pociento: 20%;
$cuarenta-pociento: 40%;
$cincuenta-pociento: 40%;
$cien-porciento: 100%;