$morado-light: #451e36;
$morado-dark: #38052a;
$amarillo: #fbd43b;
$rojo-bullet: #f64552;
$gris-bullet: #f8f8f8;
$gris-rk: #212121;
$gris-letra-soft: #8f8f8f;
$turquesa-terminos-condiciones: #00c3a3;
$morado-Entradad-numeros: #49233b;


.div-img {
    height: 400px !important;
    &__hija {
        width: 100%;
    }
    
    &__mg-tp {
        margin-top: 10%;
    }
    
    &__pd-tp {
        padding-top: 10%;
    }
}

.btn, .btn-large {
    background-color: $amarillo;
    color: white;
}

.black-text{
    color: black;
}

.btn{
    &__width{
        width: 100%;
    }
}

.indicators{
    margin-top: 55%;
}

.carousel .indicators .indicator-item {
    background-color: rgba(16, 0, 0, 0.2);
}

.carousel .indicators .indicator-item.active {
    background-color: $rojo-bullet; 
}

.mg-rg{
    margin-right: 13%;
}

.mg-lf{
    margin-left: 13%;
    padding-bottom: 1%;
    margin-top: 1.5%;
}

.mg-lf-dos{
    margin-left: 5%;
    padding-bottom: 1%;
    margin-top: 1.5%;
}

.pd-lft{
    padding-left: 3%;
}
input#stay_current_portrait.validate{
    margin: 0;
}

.mg-cero{
    margin: 0;
}

.font-s{
    font-size: .5em;
}

.mg-btn-top{
    margin-top: 15%;
}

.mg-btn-topCinco{
    margin-top: 50%;
}

.amarillo{
    background-color: $amarillo;
}

.mg-lf-i{
    margin-left: 12.5%;
}

.display-inline{
    display: inline;
}

.font-gris{
    color: $gris-letra-soft;
}


/* PANTALLA SEIS */

div#pantalla-seis-input-imgs{
    label{
        img{
            width: 10%;
        }
    }
    span{
        img{
            width: 15%;
            margin-right: 7%;
            margin-top: 4%;
        }
    }
}

div#fecha-vencimiento{
    div{
        padding: 0;
        margin-bottom: 15%;
        span{
            margin: 0;
            font-size: 1.9vh;
            padding: 9% 0 0 0;
            
        }
    }
}


/* PANTALLA SIETE */
section.morado-soft{
    background-color: $morado-light;
    height: 39vh;
    div{
        div{
            img{
                width: 100%;
            }
            h5{
                margin: 0;
            }
        }
    }
}

section.morado-soft{
    div#configuraciones{
        div{
            img{
                width: 50%;
                margin: 40% 0 0 30%;
            }
        }
    }
}

div#mostrar-saldo{
    margin-top: -3%;
    padding-left: 8%;
    a{
        img{
            width: 15%;
        }
    }
    
}

section.morado-dark{
    background-color: $morado-dark;
    height: 60vh;
    div{
        padding: 2% 0 2% 2%;
        div{
            img{
                width: 50%;
            }
        }
    }
}

div#dark-uno{
    div{
        img{
            width: 75%;
            margin-left: 15%;
        }
    }
    div{
        div.row{
            p{
                color: white;
                padding: 0;
                margin: 0;
            }
        }
    }
}

div#botones{
    margin-top: 20%;
    div{
        div{
            img{
                width: 40%;
            }
            p{
                color: white;
            }
        }
    }
}

/* PANTALLA SEIS-DOS */

#input-tarjeta{
    label{
        img{
            width: 7%;
        }
    }
   
}

#divBtn-pantalla-seisDos{
    margin-top: 40%;    
}











