@import "_variables";

/* INDEX */
.div-img {
    height: 400px !important;
    &__hija {
        width: $cien-porciento;
    }
    
    &__mg-tp {
        margin-top: $diez-pociento;
    }
    
    &__pd-tp {
        padding-top: $diez-pociento;
    }
}

.btn, .btn-large {
    background-color: $amarillo;
    color: white;
}

.black-text{
    color: black;
}

.btn{
    &__width{
        width: $cien-porciento;
    }
}

.indicators{
    margin-top: 55%;
}

.carousel .indicators .indicator-item {
    background-color: rgba(16, 0, 0, 0.2);
}

.carousel .indicators .indicator-item.active {
    background-color: $rojo-bullet; 
}

.mg-rg{
    margin-right: $margin-trece;
}

.mg-lf{
    margin-left: $margin-trece;
    padding-bottom: $uno-porciento;
    margin-top: 1.5%;
}

.mg-lf-dos{
    margin-left: $cinco-porciento;
    padding-bottom: $uno-porciento;
    margin-top: 1.5%;
}

.pd-lft{
    padding-left: 3%;
}

/* PANTALLA-DOS A CINCO */

[type="checkbox"]+label {
    margin-left: $diez-pociento;
    margin-top: $siete-porciento;
}

input#stay_current_portrait.validate{
    margin: $cero;
}

.mg-cero{
    margin: $cero;
}

.font-s{
    font-size: .5em;
}

.mg-btn-top{
    margin-top: $quince-pociento;
}

.mg-btn-topCinco{
    margin-top: $cincuenta-pociento;
}

.amarillo{
    background-color: $amarillo;
}

.mg-lf-i{
    margin-left: 12.5%;
}

.display-inline{
    display: inline;
}

.font-gris{
    color: $gris-letra-soft;
}


/* PANTALLA SEIS */

div#pantalla-seis-input-imgs{
    input{
        margin: $cero;
    }
    label{
        img{
            width: $diez-pociento;
        }
    }
    span{
        img{
            width: $quince-pociento;
            margin-right: $siete-porciento;
            margin-top: $cinco-porciento;
        }
    }
}

div#fecha-vencimiento{
    div{
        padding: $cero;
        margin-bottom: $cinco-porciento;
        span{
            margin: $cero;
            font-size: 1.9vh;
            padding: 5% $cero $cero $cero;
            
        }
    }
}

.marg-top-u{
    margin-top: 40%;
}





/* PANTALLA SIETE */
section.morado-soft{
    background-color: $morado-light;
    height: 39vh;
    div{
        div{
            img{
                width: $cien-porciento;
            }
            h5{
                margin: $cero;
            }
        }
    }
}

section.morado-soft{
    div#configuraciones{
        div{
            img{
                width: $cincuenta-pociento;
                margin: $cuarenta-pociento $cero $cero 30%;
            }
        }
    }
}

div#mostrar-saldo{
    margin-top: -3%;
    padding-left: 8%;
    a{
        img{
            width: $quince-pociento;
        }
    }
    
}

section.morado-dark{
    background-color: $morado-dark;
    height: 60vh;
    div{
        padding: 2% $cero 2% 2%;
        div{
            img{
                width: $cincuenta-pociento;
            }
        }
    }
}

div#dark-uno{
    div{
        img{
            width: 75%;
            margin-left: $quince-pociento;
        }
    }
    div{
        div.row{
            p{
                color: white;
                padding: $cero;
                margin: $cero;
            }
        }
    }
}

div#botones{
    margin-top: $veinte-pociento;
    div{
        div{
            img{
                width: $cuarenta-pociento;
            }
            p{
                color: white;
            }
        }
    }
}

/* PANTALLA SEIS-DOS */

#input-tarjeta{
    label{
        img{
            width: $cinco-porciento;
        }
    }
   
}

#divBtn-pantalla-seisDos{
    margin-top: $cuarenta-pociento;    
}







